
.uk-form-controls {
  .uk-alert {
    margin-top: $alert-margin-vertical / 2;
    margin-bottom: $alert-margin-vertical / 2;
    padding: $alert-padding / 2 $alert-padding-right / 2 $alert-padding / 2 $alert-padding / 2;
    font-size: $global-small-font-size;
  }
}
