
#app-navigation {

}

#app-main {
  min-height: calc(100vh - #{$navbar-nav-item-height});
}

@media (min-width: $breakpoint-medium) {

  #app-main {
    min-height: 100vh;
  }

  #app-navigation {
    display: block;

    .uk-offcanvas-bar {
      left: 0;
    }

    + #app-main {
      margin-left: $offcanvas-bar-width-m;
    }
  }
}
