
.uk-input-group {
  padding: $form-padding-vertical;
  height: auto;
  overflow: auto;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  background: lighten($global-muted-background, 0.5%);
  color: $form-color;
  @if(mixin-exists(hook-form)) {@include hook-form();}

  > * {
    margin: $form-padding-vertical;
  }
}
