
.uk-label-muted {
  background: darken($global-muted-background, 5%);
  color: $global-muted-color;
}

.uk-label-secondary {
  background: darken($global-secondary-background, 5%);
}

.uk-label {

  &.clearable {
    display: flex;

    > span {
      margin-top: 2px;
    }

    .uk-icon-link {
      margin: 0 4px 0 -4px;

      svg {
        margin-top: 1px;
      }

      &:hover {
        color: $global-danger-background;
      }
    }
  }

  .uk-icon-link {
    color: white;

    svg {
      margin-top: -2px;
    }
  }
}
