
.uk-table tbody {

  &.uk-card {
    tr {
      background: none;

      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &.uk-table-striped > tr:nth-of-type(even) {
      background: $table-striped-row-background;
      @if(mixin-exists(hook-table-striped)) {@include hook-table-striped();}

      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  tr.updated,
  &.uk-table-striped > tr:nth-of-type(even).updated {
    background: $table-hover-row-background;
    @if(mixin-exists(hook-table-hover)) {@include hook-table-hover();}
  }
}

.table-overflow-container {
  overflow: visible;
  overflow-x: auto;
  margin: -$padding-padding;
  margin-top: 0;
  padding: 0 $padding-padding $padding-padding;
  position: relative;

  &.with-overflow {
    :after {
      content: "";
      display: block;
      position: absolute;
      right: -$padding-padding;
      width: $padding-padding;
      height: 1px;
    }
  }
}

@media (min-width: $breakpoint-large) {
  .table-overflow-container {
    margin: -$padding-padding-l;
    margin-top: 0;
    padding: 0 $padding-padding-l $padding-padding-l;

    &.with-overflow {
      :after {
        right: -$padding-padding-l;
        width: $padding-padding-l;
      }
    }
  }
}