
.uk-table tbody {

  &.uk-card {
    tr {
      background: none;

      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &.uk-table-striped > tr:nth-of-type(even) {
      background: $table-striped-row-background;
      @if(mixin-exists(hook-table-striped)) {@include hook-table-striped();}

      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  tr.updated,
  &.uk-table-striped > tr:nth-of-type(even).updated {
    background: $table-hover-row-background;
    @if(mixin-exists(hook-table-hover)) {@include hook-table-hover();}
  }
}

.uk-overflow-auto {
  padding: 0 $container-padding-horizontal;
  margin-left: -$container-padding-horizontal;
  margin-right: -$container-padding-horizontal;
  margin-bottom: -$global-margin;
}

@media (min-width: $breakpoint-small) {
  .uk-overflow-auto {
    padding: 0 $container-padding-horizontal-s;
    margin-left: -$container-padding-horizontal-s;
    margin-right: -$container-padding-horizontal-s;
  }

}

@media (min-width: $breakpoint-medium) {
  .uk-overflow-auto {
    padding: 0 $container-padding-horizontal-m;
    margin-left: -$container-padding-horizontal-m;
    margin-right: -$container-padding-horizontal-m;
  }
}
