
.tiptap-editor {

  position: relative;

  .editor-wrapper {
    height: 100%;
  }

  .fullscreen-toggle {
    color: $global-color;
    position: absolute;
    top: $padding-small-padding;
    right: $padding-small-padding;
    z-index: 1005;
  }

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: white;

    .ProseMirror {
      border: none;
      height: 100%;
      overflow: auto;
    }

    .fullscreen-toggle {
      color: $global-danger-background;
    }
  }

  .ProseMirror {
    border: 1px solid $form-border;
    border-radius: $tooltip-border-radius;
    min-height: $height-medium-height;
    padding: $padding-small-padding;
    box-sizing: content-box;

    &:focus {
      outline: none;
      border-color: darken($form-border, 15%);
    }
  }
}

.tiptap-block-menu,
.tiptap-inline-menu {
  position: absolute;
  z-index: 1005;
  opacity: 0;
  visibility: hidden;
  transition: opacity $transition-duration ease-out, transform $transition-duration ease-out;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.tiptap-inline-menu {
  background: darken($tooltip-background, 10%);
  color: $tooltip-color;
  border-radius: $badge-border-radius;
  box-shadow: $global-medium-box-shadow;
  padding: $tooltip-padding-vertical $tooltip-padding-horizontal * 2;
  transform: translateX(-50%) translateY(0%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
  min-width: 100px;

  &.active {
    transform: translateX(-50%) translateY(-50%);
  }

  &::after {
    content: "";
    background: darken($tooltip-background, 10%);
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 1px;
    transform: translateX(-50%) rotate(45deg);
    top: auto;
    bottom: -3px;
    left: 50%;
    z-index: -1;
  }

  > button, > div {
    opacity: 1;
    transition: background $transition-duration ease-out;
    color: $global-inverse-color;
    padding: 0 $tooltip-padding-vertical;
    margin: 0 $tooltip-padding-vertical / 2;
    background: rgba(255,255,255,0.0);
    border-radius: 2px;

    button {
      color: $global-inverse-color;

      &:hover {
        color: $global-inverse-color;
        text-decoration: none;
      }
    }

    &:hover {
      color: $global-inverse-color;
    }

    &.active {
      background: rgba(255,255,255,0.3);
    }
  }

  .button-group > * {
    display: inline-block;
    vertical-align: middle;
  }

  hr.uk-divider-vertical {
    height: 14px;
    margin: 0 5px;
    padding: 0;
    opacity: 0.3;
  }

  .uk-dropdown {
    background: darken($tooltip-background, 10%);
    border-radius: 3px;
    padding: $dropdown-padding / 3 $dropdown-padding / 2;

    li {
      > a {
        padding: 10px 0;

        > * {
          margin: 0;
          color: $dropdown-nav-item-color;
        }

        &:hover {
          color: $global-inverse-color;

          > * {
            color: $global-inverse-color;
          }
        }
      }

      &.uk-active {
        > a {
          color: $global-inverse-color;

          > * {
            color: $global-inverse-color;
          }
        }
      }
    }
  }
}

.tiptap-block-menu {
  transform: translateX($padding-padding * 1.5);

  &.active {
    transform: translateX($padding-padding);
  }
}

button.tiptap-block-menu-command {
  border: 2px solid lighten($global-color, 30%);
  border-radius: 3px;
  padding: $padding-small-padding / 2 $padding-small-padding / 2 $padding-small-padding / 4;
  color: lighten($global-color, 20%);
  line-height: 150%;
  margin: 5px;
  font-size: 0.7rem;
  background: none;

  .uk-icon {
    display: inline-block;
    margin-bottom: 5px;
  }

  &[disabled] {
    opacity: 0.3;
  }

  &:not([disabled]) {
    &:hover, &.active {
      border-color: $global-primary-background;
      color: $global-color;
    }
  }
}