# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

## unite cms routing approach
# organizations in unite cms can be mapped from the URL "subdomain" or the first "parameter", depending on the
# routing_approach setting. If set to "subdomain" you must also set the DEFAULT_HOSTNAME env parameter to your domain.
#
# +only-if(DEFAULT_HOSTNAME):(ROUTING_APPROACH=subdomain)
#
ROUTING_APPROACH=parameter
DEFAULT_HOSTNAME=
APP_ENV=dev
APP_SECRET=SECRET
DATABASE_HOST=127.0.0.1
DATABASE_PORT=
DATABASE_NAME=unite
DATABASE_USER=root
DATABASE_PASSWORD=
MAILER_SENDER=test@example.com
MAILER_URL=smtp://127.0.0.1:1025
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
