<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_CLASS" value="App\Kernel" />
        <server name="KERNEL_DIR" value="src" />
        <env name="APP_SECRET" value="c6512124c378e3e408d88cbd98218688"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="DATABASE_HOST" value="127.0.0.1"/>
        <env name="DATABASE_NAME" value="united_core_test"/>
        <env name="DATABASE_USER" value="root"/>
    </php>

    <testsuites>
        <testsuite name="unite cms test cases">
            <directory>./Tests/</directory>
            <directory>./src/Bundle/*/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./src/Bundle/*/Tests/</directory>
                <directory>./vendor</directory>
                <directory>./public</directory>
                <directory>./var</directory>
                <directory>./bin</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
