{% extends '@UniteCMSCore/layout.html.twig' %}
{% block title %}{% trans with { '%apiKey%': apiKey|escape } %}organization.api_key.update.title{% endtrans %}{% endblock title %}
{% block navigation %}{{ include('@UniteCMSCore/Organization/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}
<article class="uk-card uk-card-default uk-card-body full-content-card uk-flex-1">
    <header class="uk-card-header uk-flex">
        <a class="back-button" href="{{ url('unitecms_core_organizationapikey_index', { organization: unite.organization.identifier|replace({'_':'-'}) }) }}">
            <i data-feather="arrow-left"></i>
        </a>
        <h2 class="uk-flex-1">{% trans with {'%apiKey%': apiKey|escape } %}organization.api_key.update.headline{% endtrans %}</h2>
    </header>
    {{ form(form) }}
</article>
{% endblock content %}
