
.unite-domain-change-visualization-alert {
  margin: -30px -30px 0;
}

.unite-domain-change-visualization {
  position: relative;
  border-top: 1px solid map-get($colors, grey-medium);
  margin: 0 -30px -70px;
}

@media (min-width: $breakpoint-large) {
  .unite-domain-change-visualization-alert {
    margin: -40px -40px 0;
  }

  .unite-domain-change-visualization {
    margin: 0 -40px -80px;
  }
}