
:not(pre) > code, :not(pre) > kbd, :not(pre) > samp {
  white-space: pre-wrap;
  font: 12px Menlo, Monaco, Consolas, monospace;
  padding: 0;
  background: none;
}

// For the moment we just dump all custom css here. This must be refactored in the future.
united-cms-core-domaineditor {
  position: relative;
  margin: -30px;
  display: block;

  &:last-child { margin-bottom: -30px; }

  h1.uk-h5 {
    margin: 0;
    padding: 9px;
  }

  form {
    margin: 0;
  }

  button[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: $breakpoint-medium) {
  united-cms-core-domaineditor {
    margin: -40px;

    &:last-child { margin-bottom: -40px; }
  }
}