
.uk-nav {
  li {
    svg.feather {
      width: 16px;
      height: 16px;
      margin-top: -4px;
    }

    a.uk-active {
      font-weight: bold;
    }
  }
}

// Don't show symfony dev toolbar over main menu.
@media (min-width: $breakpoint-medium) {
  .unite-main-menu + .unite-main-section + .sf-toolbar {
    .sf-toolbarreset {
      left: 320px;
    }
  }
}

@media (min-width: $breakpoint-xlarge) {
  .unite-main-menu + .unite-main-section + .sf-toolbar {
    .sf-toolbarreset {
      left: 450px;
    }
  }
}