
.unite-main-menu {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: map-get($colors, white);
  box-shadow: 2px 0 10px 0 rgba(0,0,0,0.08);
  height: 50px;
  bottom: auto;
  z-index: 100;
  box-sizing: border-box;

  header {
    button {
      width: 50px;
      height: 50px;
      background: none;
      border: none;
    }

    > button:not([uk-toggle]).uk-open {
      z-index: 1050;
    }

    h2, .uk-h2 {
      margin: 0;
      line-height: 50px;
      text-overflow: ellipsis;
      font-size: 1.125rem;
    }

    .uk-dropdown-nav {
      .uk-nav-header {
        font-weight: bold;
        color: map-get($colors, grey-dark);
        border-bottom: 2px solid map-get($colors, grey-medium);
        margin-bottom: 10px;
      }
    }

    .uk-dropdown {
      > button.uk-close {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        padding: 0;
        width: 50px;
        height: 50px;
      }
    }
  }

  > #unite-main-menu-main,
  > #unite-main-menu-user {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: auto;
    background: map-get($colors, white);
    z-index: 110;

    .uk-nav {
      margin: 30px;
    }

    > button.uk-close {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .unite-main-menu {

    header {
      .uk-dropdown {
        right: 0;
        margin: 0;
        padding-top: 50px;
        left: 0 !important;
        top: 0 !important;
        height: 100vh;
        width: 100vw !important;
      }
    }

    .unite-user-menu {
      margin: 0;
      padding: 0;
      border: none;

      > button {
        display: none;
      }
      > .uk-dropdown {
        position: static;
        display: block;
        background: none;
        box-shadow: none;
        min-width: 0;
        padding: 0;
      }
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .unite-main-menu {
    width: 310px;
    right: auto;
    height: auto;
    bottom: 0;
    padding: 30px;

    header {
      border-bottom: 2px solid map-get($colors, grey-medium);
      padding-bottom: 25px;

      > button[uk-toggle] {
        display: none;
      }

      > button:not([uk-toggle]) {
        height: auto;
        width: auto;
        background: #FFFFFF;
        border: 1px solid map-get($colors, grey-medium);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
        border-radius: 2px;

        &.uk-open {
          z-index: 0;
        }
      }
    }

    > #unite-main-menu-main,
    > #unite-main-menu-user {
      display: block !important;
      position: static;
      height: auto;

      > button.uk-close {
        display: none;
      }

      .uk-nav {
        margin: 0;
      }
    }

    > #unite-main-menu-main {
      overflow: auto;
      -webkit-overflow-scrolling: auto;

      .uk-nav {
        margin: 30px 0;
      }
    }
  }
}

@media (min-width: $breakpoint-xlarge) {
  .unite-main-menu {
    width: 400px;
  }
}