
.organizations-list {
  .uk-nav-default {
    margin: -20px -30px 0;

    > li {
      padding: 10px 20px 10px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 1rem;

      &:first-child {
        padding-top: 0;
      }

      a {
        &.action-edit,
        &.action-delete {
          padding-right: 10px;
        }

        &.action-edit + .action-delete {
          padding-left: 10px;
        }
      }
    }
  }

  .unite-user-menu {
    border-top: none;
  }
}

@media (min-width: $breakpoint-medium) {
  .organizations-list {
    .uk-nav-default {
      > li {
        padding-right: 30px;
      }
    }
  }
}

@media (min-width: $breakpoint-large) {
  .organizations-list {
    .uk-nav-default {
      margin: -30px -40px 10px;
    }
  }
}