
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans Medium'), local('WorkSans-Medium'), url(../../fonts/work-sans/WorkSans-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Work Sans Bold'), local('WorkSans-Bold'), url(../../fonts/work-sans/WorkSans-Bold.woff2) format('woff2');
}
