
// COLORS
$unite-color: #05BE82;
$unite-color-hover: #03845A;

$colors: (
  white:              #FFFFFF,
  grey-very-light:    #F7F7F7,
  grey:               #EBEBEB,
  grey-medium:        #D8D8D8,
  grey-dark:          #989898,
  grey-very-dark:     #242424,

  green:              #0BD49E,
  red:                #FF5A8A
);

// UI KIT OVERRIDES
$global-background: map-get($colors, grey);
$global-muted-background: map-get($colors, grey-very-light);
$global-primary-background: map-get($colors, green);
$global-link-color: map-get($colors, green);
$global-link-hover-color: darken(map-get($colors, green), 25%);

$navbar-nav-item-height: 50px;
$global-font-family: 'Work Sans', sans-serif;

$card-default-background: map-get($colors, grey-very-light);
$dropdown-background: map-get($colors, white);
$form-background: map-get($colors, white);
$form-focus-background: $form-background;
$form-focus-border: map-get($colors, grey-dark);
$modal-dialog-background: $form-background;
$notification-message-background: $form-background;

$inverse-global-color-mode: none;
