{% set subject = 'email.password_reset.subject'|trans %}
{% set footer = 'email.password_reset.footer'|trans %}
{% extends '@UniteCMSCore/email/base.html.twig' %}
{% block content %}

    {% embed '@UniteCMSCore/email/_partial/text.html.twig' %}
        {% block content %}
            <h1>{% trans %}email.password_reset.headline{% endtrans %}</h1>
            <p>{% trans %}email.password_reset.text_before_button{% endtrans %}</p>
        {% endblock %}
    {% endembed %}

    {% embed '@UniteCMSCore/email/_partial/button.html.twig' with { text: 'email.password_reset.text_button'|trans, link: resetUrl|replace({'{token}' : resetToken|url_encode}) } %}{% endembed %}

    {% embed '@UniteCMSCore/email/_partial/text.html.twig' %}
        {% block content %}
            <p>{% trans %}email.password_reset.text_after_button{% endtrans %}</p>
        {% endblock %}
    {% endembed %}

{% endblock %}
