<tr>
    <td>
        <!-- BULLETPROOF BUTTON -->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
            <tr>
                <td align="center" style="padding: 25px 0 0 0;" class="padding-copy">
                    <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
                        <tr>
                            <td align="center">
                                <a href="{{ link }}" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #0BD49E; border-top: 15px solid #0BD49E; border-bottom: 15px solid #0BD49E; border-left: 25px solid #0BD49E; border-right: 25px solid #0BD49E; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;" class="mobile-button">
                                    {{ text }}
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
