{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block navigation %}{% endblock %}
{% block title %}{% trans %}site.title{% endtrans %}{% endblock title %}
{% block content %}

    <div class="uk-card uk-card-default uk-card-body centered-content-card uk-width-large uk-flex uk-flex-column">
        <div class="uk-flex-1">
            <h2>{% trans %}organizations.headline{% endtrans %}</h2>

            {% if organizations|length == 0 %}
                <div class="uk-alert-warning" uk-alert>
                    {% trans %}organizations.error.no_organizations{% endtrans %}
                </div>
            {% else %}
                <ul class="uk-nav uk-nav-primary">
                    {% for organization in organizations %}
                        <li><a href="{{ path('unitedcms_core_domain_index', {organization: organization.identifier}) }}"><span
                                        uk-icon="icon: chevron-right" class="uk-margin-small-right"></span>{{ organization }}
                            </a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% include '@UnitedCMSCore/_user-menu.html.twig' %}
    </div>
{% endblock %}
