
.view-field-fallback[data-v-ee6be0fc]{white-space:nowrap}
.view-field-variants{display:flex;align-items:center}.view-field-variants>*{margin-right:10px;flex-basis:0!important}.view-field-variants>:last-child{margin-right:0}
