
.uk-badge {
  display: inline-block;
  font-size: 0.75rem;
  text-transform: uppercase;
  height: auto;
  min-height: 0;
  overflow: hidden;
  padding: 0 8px;

  &.uk-badge-danger {
    background: $global-danger-background;
  }
}

.uk-badge.split {
  padding: 0;
  background: map-get($colors, grey);
  font-size: 0;

  span {
    display: inline-block;
    padding: 0 5px;
    font-size: 0.75rem;

    &:first-child {
      padding-left: 8px;
      background: #666;
    }

    &:last-child {
      padding-right: 8px;
      background: $background-primary-background;
    }
  }
}