
.uk-button {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
  border-radius: 2px;
  text-transform: none;
  font-size: 1rem;
  padding: 0 20px;
  white-space: nowrap;

  svg.feather {
    &.icon-left {
      margin-left: -10px;
      margin-right: 10px;
    }

    &.icon-right {
      margin-right: -10px;
      margin-left: 10px;
    }
  }
}