
.uk-button {

  &:not(.uk-button-text):not(.uk-button-link) {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
    border-radius: 2px;
    text-transform: none;
    font-size: 1rem;
    padding: 0 20px;
  }

  white-space: nowrap;

  svg.feather {
    &.icon-left {
      margin-left: -10px;
      margin-right: 10px;
    }

    &.icon-right {
      margin-right: -10px;
      margin-left: 10px;
    }
  }
}

.close-button {
  background: none;
  border: none;
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0;
  top: 0;
  right: 0;
  color: map-get($colors, grey-dark);
  cursor: pointer;

  &:hover {
    color: map-get($colors, red);
  }
}