
.uk-card.centered-content-card {}
.uk-card.full-content-card {}

@media (min-width: $breakpoint-medium) {
  .uk-card.full-content-card {
    margin-left: 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.08);
  }

  .uk-card.centered-content-card {
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.08);
  }
}

@media (min-width: $breakpoint-xlarge) {
  .uk-card.full-content-card {
    border-radius: 5px;
    margin: 50px;
    max-width: 1600px;
  }
}
