
.uk-card.full-content-card {
  align-self: normal;

  + .uk-card.full-content-card {
    margin-top: 10px;
  }
}

.uk-card.centered-content-card {
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.08);
  align-self: center;
  height: auto;
  max-width: 90%;

  .uk-card-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.uk-modal-dialog {
  .full-content-card {
    margin-left: 0;
  }
}

.uk-card-header {
  background: map-get($colors, white);
  border-bottom: 1px solid map-get($colors, grey-medium);
  margin: -30px -30px 30px;
  padding: 15px 30px;

  .back-button {
    margin-right: 10px;
    color: map-get($colors, grey-dark);
    place-self: center;

    &:hover {
      color: map-get($colors, grey-very-dark);
    }

    svg {
      margin: 0;
      height: 20px;
      width: 20px;
    }
  }

  h1, h2, .uk-h1, .uk-h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    line-height: 40px;
    margin: 0;
    padding-right: 10px;
  }
}

@media (min-width: $breakpoint-medium) {
  .uk-card-header {
    h1, h2, .uk-h1, .uk-h2 {
      font-size: 1.5rem;
    }
  }

  .uk-card.full-content-card {
    margin-left: 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.08);
    align-self: normal;
  }
}

@media (min-width: $breakpoint-large) {
  .uk-card-header {
    margin: -40px -40px 40px;
    padding: 20px 30px;
  }
}

@media (min-width: $breakpoint-xlarge) {
  .uk-card.full-content-card {

    &:not(.always-full) {
      border-radius: 5px;
      margin: 50px;

      .uk-card-header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      + .uk-card.full-content-card {
        margin-top: 0;
      }
    }
  }
}

@media (min-width: 2100px) {
  .uk-card.full-content-card {
    &:not(.always-full) {
      width: 1600px;
      align-self: center;
    }
  }
}

.uk-card.choice-card {
  min-width: 200px;
  cursor: pointer;
  background: white;
  border-radius: 5px;
  text-align: center;
  display: block;

  svg {
    margin-top: 25px;
  }

  h3 {
    color: #666;
    margin-top: 20px;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: white;
  }
}

.choice-cards-type {
  margin-top: 15px;
  margin-bottom: 25px;
}