
/* Readonly */
.uk-input:read-only,
.uk-select:read-only,
.uk-textarea:read-only,
.uk-input.read-only,
.uk-select.read-only,
.uk-textarea.read-only {
   background-color: $form-disabled-background;
   color: $form-disabled-color;
   @if(mixin-exists(hook-form-disabled)) {@include hook-form-disabled();}
}

.uk-input:-moz-read-only,
.uk-select:-moz-read-only,
.uk-textarea:-moz-read-only {
   background-color: $form-disabled-background;
   color: $form-disabled-color;
   @if(mixin-exists(hook-form-disabled)) {@include hook-form-disabled();}
}

.uk-form-label {
   &.required:after {
      content:" *";
      color: red;
   }
}

.uk-form-help-inline {
   margin-top: 0.5em;
   font-size: small;
}

.uk-textarea {
   resize: vertical;
}

.uk-form-controls-checkbox,
.uk-form-controls-checkboxes {
   background: map-get($colors, white);
   border: 1px solid map-get($colors, grey-medium);
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
   padding: 7px 0;
   border-radius: 2px;
   margin: 5px 0;

   label {
      display: block;
      padding: 3px 10px;
   }
}

.unite-core-form-field-money {
   .uk-select:not([multiple]):not([size]) {
      padding-right: 30px;
   }

   @media (min-width: $breakpoint-small) {
      .uk-select:not([multiple]):not([size]) {
         border-left: none;
         padding-right: 30px;
      }
   }
}