

.uk-form-label {
   &.required:after {
      content:" *";
      color: red;
   }
}

.uk-form-help-inline {
   margin-top: 0.5em;
   font-size: small;
}

.uk-textarea {
   resize: vertical;
}

.uk-form-controls-checkbox,
.uk-form-controls-checkboxes {
   background: map-get($colors, white);
   border: 1px solid map-get($colors, grey-medium);
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
   padding: 7px 0;
   border-radius: 2px;
   margin: 5px 0;

   label {
      display: block;
      padding: 3px 10px;
   }
}
