
.uk-label {
  border-radius: 10px;
  padding: 1px 12px;
  font-size: 0.8rem;
  line-height: 1.3;
  text-align: center;
  background-color: map-get($colors, grey-dark);

  &.uk-label-disabled {
    background-color: #bfbfbf;
    opacity: 0.5;
  }

  &.uk-label-success { background-color: $global-success-background; }
  &.uk-label-warning { background-color: $global-warning-background; }
  &.uk-label-danger { background-color: $global-danger-background; }
  &.uk-label-primary { background-color: #1e87f0; }
  &.uk-label-notice { background-color: #2A2D34; }
  &.uk-label-info { background-color: #6761A8; }
  &.uk-label-error { background-color: #710624; }
}