
.unite-div-table {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-top: 30px solid $form-background;

  .unite-div-table-thead {
    display: none;

    .unite-div-table-row {
      background: $form-background;

      > * {
        vertical-align: bottom;
        font-size: $table-header-cell-font-size;
        font-weight: $table-header-cell-font-weight;
        color: $table-header-cell-color;
        @if (mixin-exists(hook-table-header-cell)) {
          @include hook-table-header-cell();
        }

        a, span {
          display: inline-block;
          text-decoration: none;
          color: $table-header-cell-color;
          white-space: nowrap;

          > span {
            line-height: 0;
            font-size: 0;
            vertical-align: middle;
            display: inline-block;
            margin-top: -4px;
          }
        }
      }
    }
  }

  .unite-div-table-tbody {
    .unite-div-table-row {

      margin-top: -1px;
      border-top: $table-divider-border-width solid $table-divider-border;

      &:nth-child(2n) {
        background: $form-background;
      }

      &:hover {
        background: $table-hover-row-background;
      }
    }

    margin-bottom: 20px;
  }
}

.unite-div-table-error {
  border-bottom: $table-divider-border-width solid $table-divider-border;
  padding: 20px;
  text-align: center;
  position: relative;
}

.unite-div-table-row {
  @extend .uk-grid;
  @extend .uk-grid-collapse;
  @extend .uk-flex-middle;
  display: block;
  border-bottom: $table-divider-border-width solid $table-divider-border;

  > * {
    text-align: left;
    padding: 0;

    > * {
      padding: $table-cell-padding-vertical 3vw $table-cell-padding-vertical $table-cell-padding-horizontal;
    }

    p {
      margin: 0;
    }
  }

  &.uk-sortable-drag {
    background: $form-background;
    border: none;
    @extend .uk-box-shadow-medium;
  }

  .actions {
    .uk-button:not(.uk-button-text):not(.uk-button-link) {

      opacity: 0.25;
      transition: all 0.2s ease-out;

      &:hover, &.uk-open {
        background: $form-background;
        opacity: 1;
        @extend .uk-box-shadow-medium;
        border-color: map-get($colors, grey-dark);
      }
    }
  }

  &:hover {
    .actions {
      .uk-button:not(.uk-button-text):not(.uk-button-link) {
        background: $form-background;
        border-color: map-get($colors, grey-medium);
        opacity: 1;

        &:hover, &.uk-open {
          @extend .uk-box-shadow-medium;
          border-color: map-get($colors, grey-dark);
        }
      }
    }
  }
}

.uk-card-body {
  .unite-div-table {
    margin: 0 -30px 0 -30px;
  }

  .uk-card-header + .unite-div-table {
    margin-top: -31px;
  }

  .unite-div-table-error {
    margin: -30px -30px -30px;
  }
}

@media (max-width: $breakpoint-small) {

  .unite-div-table-error {
    border-bottom: none;
    display: block;
  }

  .unite-div-table-tbody {
    border-top: $table-divider-border-width solid $table-divider-border;
  }

  .unite-div-table-row {
    position: relative;
    padding: 10px;

    > * > * {
      padding: 2px;
    }
  }

  .uk-card-body {
    .uk-card-header + .unite-div-table {
      margin-top: -61px;
    }
  }
}

@media (min-width: $breakpoint-small) {
  .unite-div-table {
    .unite-div-table-thead,
    .unite-div-table-tbody {
      display: flex;
      flex-wrap: wrap;
      justify-content: stretch;
    }
  }

  .unite-div-table-row {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    flex: 1 0 100%;

    > * {
      width: auto;
      min-width: 0;

      &:first-child {
        > * {
          padding-left: 30px;
        }
      }

      &:last-child {
        > * {
          padding-right: 30px;
        }
      }
    }
  }

  .unite-div-table-error {
    text-align: left;
  }

  .uk-card-body {
    .unite-div-table-error {
      margin-bottom: -15px;
    }
  }
}

@media (min-width: $breakpoint-large) {
  .uk-card-body {
    .unite-div-table {
      margin-left: -40px;
      margin-right: -40px;
    }

    .uk-card-header + .unite-div-table {
      margin-top: -41px;
    }

    .unite-div-table-error {
      margin: -40px -40px -20px;
      padding: 15px 30px;
    }
  }
}
