
.unite-div-table.unite-div-tree-view {
  display: block;

  .unite-div-table-thead,
  .unite-div-table-tbody {
    display: block;
  }
}

.unite-div-tree-view-element .uk-sortable.uk-sortable-empty {
  min-height: 0;
}

.unite-div-table-row.unite-div-tree-view-row {
  display: flex;
  align-items: center;
  border-radius: 3px;

  > * {
    display: block;
    flex: 0;
    box-sizing: content-box;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    &:nth-child(2) {
      flex: 1;
    }

    &:last-child {
      padding-right: 15px;
    }

    &.view-field-actions {
      padding-left: 0;
    }

    &.view-field-sortindex {
      padding-right: 0;
    }
  }
}