
unite-cms-core-variants-select {
  .choice-cards-type {
    margin-top: 0;
    margin-bottom: 0
  }
}

unite-cms-core-variants-variant {
  article {
    header {
      background: map-get($colors, grey);
      margin: -16px -16px 15px -16px;
      padding: 5px 0 5px 10px;
      margin-bottom: 5px;
      font-size: 1rem;
      color: map-get($colors, grey-dark);
      align-items: center;

      a {
        color: map-get($colors, white);
        background: map-get($colors, grey-dark);
        border-radius: 100%;
        width: 18px;
        height: 18px;
        padding: 2px;
        line-height: 0;
        box-sizing: border-box;
        display: inline-block;
        margin-right: 8px;

        &.clear {
          color: map-get($colors, white);
          background: map-get($colors, red);
        }

        &.collapse {
          color: map-get($colors, white);
          background: map-get($colors, green);
        }

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    &.collapsed {
      padding-bottom: 0;
      margin-bottom: 0;

      header {
        margin-bottom: 0;
        padding: 10px 5px 9px 15px;
        background: none;

        a.collapse {
          background: map-get($colors, grey-dark);
          padding: 3px;
        }
      }
    }
  }
}

.uk-placeholder {
  > .uk-form-vertical {
    > div {
      > unite-cms-core-variants-variant {
        article {
          border: none;
          padding: 0;
        }
      }
    }
  }
}