
unite-cms-core-reference-field {
  padding: 5px 0;

  a.uk-placeholder {
    padding: 10px;
    height: 46px;
    display: block;
    width: 100%;
    border-color: map-get($colors, grey-dark);
    color: map-get($colors, grey-dark);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 2px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;

    svg.feather {
      margin-top: -3px;
    }

    &:hover {
      border-color: map-get($colors, grey-very-dark);
      color: map-get($colors, grey-very-dark);
    }
  }

  .content-holder {
    position: relative;
    background: map-get($colors, white);
    border: 1px solid map-get($colors, grey-medium);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
    padding: 10px;
    border-radius: 2px;

    .uk-spinner {
      svg {
        width: 20px;
        height: 20px;
      }
    }

    .close-button {
      right: 5px;
      top: 50%;
      margin-top: -20px;
      text-align: center;
      line-height: 36px;
    }

    &:hover {
      .close-button {
        color: map-get($colors, red);
      }
    }

    .meta {
      font-size: 0.6rem;
      line-height: normal;
      color: darken(map-get($colors, grey-medium), 10%);
      text-transform: uppercase;
    }
  }
}
