{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block title %}{% trans with {"%type%": settingType|escape } %}setting.update.title{% endtrans %}{% endblock title %}
{% block navigation %}{{ include('@UnitedCMSCore/Domain/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}
<article class="uk-card uk-card-default uk-card-body full-content-card uk-flex-1">
    <header class="uk-card-header uk-flex">
        <h2 class="uk-flex-1">{% trans with {"%type%": settingType|escape } %}setting.update.headline{% endtrans %}</h2>
        <button class="uk-button uk-button-default actions-dropdown" type="button"><i data-feather="more-horizontal"></i></button>
        <div uk-dropdown="mode: click; pos: bottom-right; offset: 5">
            <ul class="uk-nav uk-dropdown-nav">
                {% if settingType.locales|length > 0 %}<li><a href="{{ path('unitedcms_core_setting_translations', {
                        'organization': united.domain.organization.identifier,
                        'domain': united.domain.identifier,
                        'setting_type': settingType.identifier,
                        'setting': setting.id
                    }) }}"><i class="uk-margin-small-right" data-feather="globe"></i>{% trans %}setting.translations.button{% endtrans %}</a></li>{% endif %}
                <li><a href="{{ path('unitedcms_core_setting_revisions', {
                        'organization': united.domain.organization.identifier,
                        'domain': united.domain.identifier,
                        'setting_type': settingType.identifier,
                        'setting': setting.id
                    }) }}"><i class="uk-margin-small-right" data-feather="skip-back"></i>{% trans %}setting.revisions.button{% endtrans %}</a></li>
            </ul>
        </div>
    </header>
    {{ form(form) }}
</article>
{% endblock content %}