{% extends '@UniteCMSCore/layout.html.twig' %}
{% block navigation %}{% endblock %}
{% block title %}{{ site_name }}{% endblock title %}
{% block content %}
<article class="uk-card uk-card-default uk-card-body centered-content-card uk-width-xlarge organizations-list">
    <header class="uk-card-header">
        <h2>{% trans %}organizations.headline{% endtrans %}</h2>
    </header>
    <div class="uk-flex-1">
        {% if organizations|length == 0 %}
            <div class="uk-alert-warning" uk-alert>
                {% trans %}organizations.error.no_organizations{% endtrans %}
            </div>
        {% else %}
            <ul class="uk-nav uk-nav-default">
                {% for organization in organizations %}
                    <li class="uk-flex uk-flex-middle">
                        <a class="uk-flex-1" href="{{ path('unitecms_core_domain_index', {organization: organization.identifier}) }}">
                            <i data-feather="home" class="uk-margin-small-right"></i> {{ organization }}
                        </a>

                        {% if is_granted(constant('UniteCMS\\CoreBundle\\Security\\Voter\\OrganizationVoter::UPDATE'), organization) %}
                            <!--a class="action-edit" uk-tooltip title="{% trans %}organizations.button.edit{% endtrans %}" href="#"><i data-feather="edit"></i></a-->
                        {% endif %}
                        {% if is_granted(constant('UniteCMS\\CoreBundle\\Security\\Voter\\OrganizationVoter::DELETE'), organization) %}
                            <!--a class="action-delete uk-text-danger" uk-tooltip title="{% trans %}organizations.button.delete{% endtrans %}" href="#"><i data-feather="trash-2"></i></a-->
                        {% endif %}
                    </li>
                {% endfor %}
                {% if is_granted(constant('UniteCMS\\CoreBundle\\Security\\Voter\\OrganizationVoter::CREATE'), 'UniteCMS\\CoreBundle\\Entity\\Organization') %}
                    <!--li class="uk-flex uk-flex-middle">
                        <a class="uk-text-success" href="#"><i data-feather="plus-circle" class="uk-margin-small-right"></i>
                            {% trans %}organizations.button.create{% endtrans %}
                        </a>
                    </li-->
                {% endif %}
            </ul>
        {% endif %}
    </div>

    {% include '@UniteCMSCore/_user-menu.html.twig' %}
</article>
{% endblock %}
