{% extends '@UnitedCMSCore/layout.full.html.twig' %}
{% block title %}United. Password Reset{% endblock title %}
{% block content %}

    <div class="uk-card uk-card-default uk-card-body" style="width: 90%; max-width: 450px; margin: 0 auto;">

        <a href="{{ path('unitedcms_core_authentication_login') }}" class="uk-button uk-button-default uk-button-small">
            <span uk-icon="icon: arrow-left" class="uk-margin-small-right"></span> Zur Anmeldung
        </a>

        <h2>Password Reset</h2>

        {% if not userFound %}
            <p>Invalid token</p>
        {% elseif tokenExpired %}
            <p>Token expired</p>
        {% elseif form %}

            {% if not form.vars.submitted or not form.vars.valid %}
                {{ form_start(form, {attr: {class: 'uk-form-vertical'}}) }}
                {{ form_end(form) }}
            {% else %}
                <h3>Thank you!</h3>
                <p>Your new password was saved. Now you can login with the new password on the <a
                            href="{{ path('unitedcms_core_authentication_login') }}" class="uk-button uk-button-text">Login</a>
                    page.</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}