{% extends '@UnitedCMSCore/layout.full.html.twig' %}
{% block title %}United. Password Reset{% endblock title %}
{% block content %}

    <div class="uk-card uk-card-default uk-card-body" style="width: 90%; max-width: 450px; margin: 0 auto;">

        <a href="{{ path('unitedcms_core_authentication_login') }}" class="uk-button uk-button-default uk-button-small">
            <span uk-icon="icon: arrow-left" class="uk-margin-small-right"></span> Zur Anmeldung
        </a>

        <h2>Password Reset</h2>
        {% if form.vars.submitted and form.vars.valid %}

            <p>Thank you, <strong>{{ form.vars.data.username }}</strong>! If this is a registered email, a reset link is
                on the way to you.</p>

        {% else %}
            {{ form_start(form, {attr: {class: 'uk-form-vertical'}}) }}
            {{ form_end(form) }}
        {% endif %}
    </div>

{% endblock %}
