{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block title %}{% trans %}profile.reset_password.title{% endtrans %}{% endblock title %}
{% block navigation %}{% endblock %}
{% block content %}
<article class="uk-card uk-card-default uk-card-body centered-content-card uk-width-large">
    <header class="uk-card-header uk-flex">
        <a class="back-button" href="{{ path('unitedcms_core_authentication_login') }}">
            <i data-feather="arrow-left"></i>
        </a>
        <h2 class="uk-flex-1">{% trans %}profile.reset_password.headline{% endtrans %}</h2>
    </header>
    <div class="uk-flex-1">
        {% if form.vars.submitted and form.vars.valid %}

            <p>{% trans %}profile.reset_password.success.headline{% endtrans %}</p>
            <p>{% trans with { '%username%': form.vars.data.username } %}profile.reset_password.success.message{% endtrans %}</p>

        {% else %}
            {{ form_start(form, {attr: {class: 'uk-form-vertical'}}) }}
            {{ form_end(form) }}
        {% endif %}
    </div>
</article>
<style type="text/css" rel="stylesheet">
    body {
        background: url({{ site_background }}) no-repeat;
        background-size: cover;
    }
</style>

{% endblock %}
