{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block title %}{% trans %}profile.update.title{% endtrans %}{% endblock title %}
{% block navigation %}{% endblock %}
{% block content %}

    <article class="uk-card uk-card-default uk-card-body centered-content-card uk-width-xlarge uk-flex uk-flex-column">

        <header class="uk-card-header uk-flex">
            <a class="back-button" href="{{ path('unitedcms_core_organizations') }}">
                <i data-feather="arrow-left"></i>
            </a>
            <h2>{% trans %}profile.update.headline{% endtrans %}</h2>
        </header>

        <div class="uk-card-body">
            {{ form(form) }}
            <h3>{% trans %}profile.change_password.headline{% endtrans %}</h3>
            {{ form(change_password_form) }}
        </div>
    </article>
{% endblock content %}