{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block title %}{% trans %}profile.update.headline{% endtrans %}{% endblock title %}
{% block navigation %}{% endblock %}
{% block content %}

    <article class="uk-card uk-card-default uk-card-body centered-content-card uk-width-xlarge uk-flex uk-flex-column">

        <header class="uk-card-header">
            <a href="{{ path('unitedcms_core_organizations') }}" class="uk-button uk-button-default uk-button-small">
                <span uk-icon="icon: arrow-left" class="uk-margin-small-right"></span> Zurück
            </a>
            <h1>{% trans %}profile.update.headline{% endtrans %}</h1>
        </header>

        <div class="uk-card-body">
            {{ form(form) }}
            {{ form(change_password_form) }}
        </div>
    </article>
{% endblock content %}