{% extends '@UnitedCMSCore/layout.full.html.twig' %}
{% block title %}Profile{% endblock title %}
{% block content %}

    <div class="uk-card uk-card-default uk-card-body" style="width: 90%; max-width: 800px; margin: 0 auto;">

        <a href="{{ path('unitedcms_core_organizations') }}" class="uk-button uk-button-default uk-button-small">
            <span uk-icon="icon: arrow-left" class="uk-margin-small-right"></span> Zurück
        </a>

        <h1 class="uk-heading-divider">Update Profile</h1>
        {{ form(form) }}

        {{ form(change_password_form) }}
    </div>
{% endblock content %}