{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block title %}{% trans with {'%content%': content } %}content.translations.remove.title{% endtrans %}{% endblock title %}
{% block navigation %}{{ include('@UnitedCMSCore/Domain/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}
<article class="uk-card uk-card-default uk-card-body uk-width-1-1 full-content-card">
    <header class="uk-card-header uk-flex">
        <a class="back-button" href="{{ path('unitedcms_core_content_translations', {
            domain: domain.identifier,
            organization: organization.identifier,
            content_type: contentType.identifier,
            view: view.identifier,
            content: content.id
        }) }}"><i data-feather="arrow-left"></i></a>
        <h2 class="uk-flex-1">{% trans with { "%locale%": content.locale, "%type%": view.contentType } %}content.translations.remove.headline{% endtrans %}</h2>
    </header>
    {{ form(form) }}
</article>
{% endblock content %}