<!DOCTYPE html>
<html lang="en" dir="ltr" class="uk-background-muted">
<head>
    <title>unite cms</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        {{ encore_entry_link_tags('unite') }}
    {% endblock %}
</head>
<body>
<div id="app">
    <unite-admin-app></unite-admin-app>
</div>
{% block javascripts %}
    <script type="text/javascript">
        const UNITE_ADMIN_CONFIG = {
            baseurl: '{{ path('unite_cms_admin_force_domain', { unite_domain: domain.id }) }}'
        };
    </script>
    {{ encore_entry_script_tags('unite') }}
{% endblock %}
</body>
</html>
