# Contains all core services that can be used for core and extension development.
services:

  # Extends Symfony router to allow easy url generation for known entity routes.
  UniteCMS\CoreBundle\Service\UniteCMSRouter:
    parent: router
    decorates: router

  # Converts identifiers from URL (including "-") to internal identifier (including "_").
  UniteCMS\CoreBundle\ParamConverter\IdentifierNormalizer:
    tags: [{ name: request.param_converter, priority: 100}]


  # You can get the current organization and domain from this service, based on request information (like the path).
  unite.cms.manager:
    class: UniteCMS\CoreBundle\Service\UniteCMSManager
    arguments: ['@doctrine.orm.entity_manager', '@request_stack']
    public: true


  # You can get all registered field types from this service and validate field settings and field data.
  unite.cms.field_type_manager:
    class: UniteCMS\CoreBundle\Field\FieldTypeManager
    public: true


  # You can get all registered view types from this service.
  unite.cms.view_type_manager:
    class: UniteCMS\CoreBundle\View\ViewTypeManager
    arguments: ['@router.default']
    public: true

  # Parses domain configuration from and dumps domain objects to the filesystem.
  unite.cms.domain_config_manager:
    class: UniteCMS\CoreBundle\Service\DomainConfigManager
    autowire: true
    public: true
    arguments:
      ['%kernel.project_dir%/config/unite/', '@unite.cms.domain_definition_parser', '@filesystem']

  # In order to autowire DomainConfigManager, we need to alis the full class path
  UniteCMS\CoreBundle\Service\DomainConfigManager: "@unite.cms.domain_config_manager"

  # The fieldable form builder allows you to build content and setting forms based on the defined contentType / settingType fields.
  unite.cms.fieldable_form_builder:
    class: UniteCMS\CoreBundle\Form\FieldableFormBuilder
    arguments: ['@form.factory', '@unite.cms.field_type_manager']
    public: true

  # Provide FieldableFormType form as a service, pass tokenstorage as an argument, auto wire not working in forms
  unite.cms.fieldable_form_type:
    class: UniteCMS\CoreBundle\Form\FieldableFormType
    arguments: ['@security.token_storage']
    tags: [form.type]

  # Provide Stete Type as a service, pass translator as an argument
  unite.cms.state_type:
      class: UniteCMS\CoreBundle\Form\StateType
      arguments: ['@translator']
      tags: [form.type]

  # Service Class to fire webhooks
  unite.cms.webhook_manager:
    class: UniteCMS\CoreBundle\Service\WebHookManager
    arguments: ['@service_container', '@logger']
    public: false

  # Parses and serializes a domain object. If you want to dump or read domain config, please use unite.cms.domain_config_manager.
  unite.cms.domain_definition_parser:
    class: UniteCMS\CoreBundle\Service\DomainDefinitionParser
    arguments: ['@jms_serializer', '@validator']
    public: false

  # Provide LinkType as a service, pass translator as an argument, auto wire not working in forms
  unite.cms.link_type:
    class: UniteCMS\CoreBundle\Form\LinkType
    arguments: ['@translator']
    tags: [form.type]

  # register unite core field type extension
  unite.cms.core_field_type_extension:
    class: UniteCMS\CoreBundle\Form\Extension\UniteCMSCoreFieldTypeExtension
    tags:
    - { name: form.type_extension, extended_type: Symfony\Component\Form\Extension\Core\Type\FormType }
