{% extends '@UniteCMSCore/layout.html.twig' %}
{% block title %}{% trans with { "%%": member|escape, "%version%": version } %}member.revisions.revert.title{% endtrans %}{% endblock title %}
{% block navigation %}{{ include('@UniteCMSCore/Domain/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}
<article class="uk-card uk-card-default uk-card-body full-content-card uk-flex-1">
    <header class="uk-card-header uk-flex">
        <a class="back-button" href="{{ url('unitecms_core_domainmember_revisions', [member]) }}"><i data-feather="arrow-left"></i></a>
        <h2 class="uk-flex-1">{% trans with { "%member%": member|escape, "%version%": version } %}member.revisions.revert.headline{% endtrans %}</h2>
    </header>
    {{ form(form) }}
</article>
{% endblock content %}
