
@mixin hook-icon-button(){
  background: darken($icon-button-background, 5%);

  &.uk-icon-button-small {
    width: $icon-button-size / 1.5;
    height: $icon-button-size / 1.5;
  }

  &.small-padding {
    padding: 5px;
  }
}

@mixin hook-base-blockquote() {
  background: $global-muted-background;
  color: $global-muted-color;
  padding: $base-blockquote-margin-vertical / 2;
}
