<a class="uk-navbar-item uk-button uk-button-text"
   href="{{ path('unitedcms_core_domain_view', {organization: united.organization.identifier, domain: united.domain.identifier}) }}">{{ united.domain }}</a>