<div style="height: 50px;"></div>

<ul style="position: fixed; bottom: 0; left: 0; right: auto; width: 350px; padding: 20px 0; background: white; border-top: 1px solid #e5e5e5"
    class="uk-iconnav uk-flex-center">
    <li class="uk-text-small">{{ app.user }}</li>
    <li><a uk-icon="icon: cog" title="Profil bearbeiten" uk-tooltip href="{{ path('unitedcms_core_profile_update') }}"></a></li>
    <li><a class="uk-text-danger" title="Ausloggen" uk-tooltip uk-icon="icon: sign-out" href="/logout"></a></li>
</ul>