{# Renders all messages from flashbag session variable. #}
{% set message_bags = app.session.flashbag.all %}
{% if message_bags|length > 0 %}
    <article class="unite-main-messages">
        {% for label, messages in message_bags %}
            {% for message in messages %}
                <div uk-alert class="uk-alert-{{ label }}">
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    </article>
{% endif %}