<div class="unite-user-menu">
    <button class="uk-button uk-button-text" type="button">
        {{ app.user }}
        <span class="uk-margin-small-left" uk-icon="icon: chevron-down"></span>
    </button>
    <div uk-dropdown="mode: click; pos: top-center">
        <ul class="uk-nav uk-dropdown-nav">
            <li><a href="{{ path('unitedcms_core_profile_update') }}">
                <span class="uk-margin-small-right" uk-icon="icon: cog"></span>
                    {% trans %}user_menu.edit_profile{% endtrans %}
            </a></li>
            <li><a class="uk-text-danger" href="/logout">
                <span class="uk-margin-small-right" uk-icon="icon: sign-out"></span>
                {% trans %}user_menu.sign_out{% endtrans %}
            </a></li>


        </ul>
    </div>
</div>