<!doctype html>
<html>
<head>
    <title>{{ block('title') }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include '@UnitedCMSCore/_assets.html.twig' %}
</head>
<body>

{% if block('navigation') is not empty %}
    <section class="unite-main-menu uk-flex uk-flex-column">
        {{ block('navigation') }}
    </section>
{% endif %}

    <section class="unite-main-section uk-flex-center uk-flex" uk-height-viewport="offset-top: true; offset-bottom: true">
        {% include '@UnitedCMSCore/_messages.html.twig' %}
        {{ block('content') }}
    </section>

</body>
</html>