<!doctype html>
<html>
<head>
    <title>{{ block('title') }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include '@UnitedCMSCore/_assets.html.twig' %}
</head>
<body>
<div class="uk-flex uk-flex-middle">
    {% block content %}{% endblock %}
</div>
</body>
</html>