{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block title %}{{ organization }}{% endblock title %}
{% block navigation %}{{ include('@UnitedCMSCore/Organization/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}
    <h1 class="uk-heading-divider">Update Organization Membership for user {{ member.user }}</h1>

    <div class="uk-card uk-card-default uk-card-body">
        {{ form(form) }}
    </div>
{% endblock content %}