<article class="uk-card uk-card-default uk-card-body full-content-card uk-flex-1">
    <header class="uk-card-header uk-flex">
        <h2 class="uk-flex-1">
            {{ view.contentType }}
            {% if view.identifier != 'all' %} » {{ view }}{% endif %}
        </h2>
        {% if parameters.selectModeNone %}
            <a href="{{ parameters.url('create') }}" class="uk-button uk-button-primary">
                <i data-feather="plus" class="icon-left"></i>
                {% trans %}content.create.button{% endtrans %}
            </a>
        {% endif %}
    </header>

    <united-cms-core-view-sortable parameters='{{ parameters|json_encode|raw }}'></united-cms-core-view-sortable>
</article>
